.slider {
    width: 100%;
    aspect-ratio: 16 / 11;
    /* height: 900px; */
    position: relative;
    overflow: hidden;
    margin: -24px auto -100px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(0.92);
    transition: opacity 1s ease, transform 1s ease;
    pointer-events: none;
    transition: opacity 1.5s cubic-bezier(0.4, 0, 0.2, 1),
        transform 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
.slide.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
    pointer-events: auto;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.nav {
    z-index: 3;
    /* width: 50%; */
    display: flex;
    position: relative;
    top: 59%;
    transform: translateY(-100%);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav button {
    background: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 18px;
    border-radius: 50%;
    transition: background 0.9s;
    background-color: rgba(138, 43, 226, 0.4);
}
.firstBtn {
    position: absolute;
    left: 15px;
    top: -80px;
}
.latestBtn {
    position: absolute;
    right: 1%;
    top: -80px;
}

.nav button:hover {
    background-color: rgba(138, 43, 226, 0.8);
}
